.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

# Ignore OpenFrameworks
/docs
/examples
/export
/libs
/other
/scripts
/INSTALL.md
/CHANGELOG.md
/LICENSE.md

/addons/*
!/addons/ofxAndroid

/apps/*
!/apps/myApps

